body{
    background-color:#222E50;
    
}


.btn {
    background-color: #ffd700 !important; /* Change this to your desired hover color */
    border-color: #ffd700 !important;
  }

  .btn:hover {
    
    background-color: rgba(252, 203, 6, 0.9) !important;
    border-color: rgba(252, 203, 6, 0.6) !important;
  }
